{{define "title"}}Login – Shift Scheduler{{end}}

{{define "content"}}
  <h2>Login</h2>

  <form
    method="post"
    action="/login"
    hx-post="/login"
    hx-target="#alert-area"
    hx-swap="innerHTML"
    hx-select="#alert-area"
    style="max-width:300px"
  >
    <label>
      Username<br>
      <input
        type="text"
        name="username"
        autocomplete="username"
        style="width:100%;padding:.5rem;margin:.25rem 0"
        autofocus
      >
    </label>
    <label>
      Password<br>
      <input
        type="password"
        name="password"
        autocomplete="current-password"
        style="width:100%;padding:.5rem;margin:.25rem 0"
      >
    </label>
    <button 
      style="margin-top:1rem;padding:.5rem 1rem;
             font-family:'IBM Plex Sans', Helvetica, Arial, sans-serif;
             background-color:#002E5D;
             color:#ffffff;
             border:none;
             border-radius:5px;
             cursor:pointer;">
      <strong>Sign In</strong>
    </button>
  </form>
  <p style="margin-top:.75rem;color:#555;font-size:.9rem">
    Acounts for Demo
  </p>
  <p style="margin-top:.75rem;color:#555;font-size:.9rem">
    <code>admin / password</code>
  </p>
  <p style="margin-top:.75rem;color:#555;font-size:.9rem">
    <code>user1 / password</code>
  </p>
{{end}}
